.container{
    width: 1024px;
    height: 768px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content:center;
    
}
.main{
    width: 1006px;
    height: 65px;
    /* background-color: aqua; */
    border: 3px solid lightgray;
    border-style: double;
    
}
.top{
    width: 100%;
    height: 100%;
}
.top>a{
    display: block;
    background-image: url(./image/logo.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.nav{
    width: 230px;
    height: calc(768px - 65px - 20px);
    /* background-color: lightblue; */
    display: flex;
    flex-wrap: wrap;
    border: 3px solid lightgray;
    border-style: double;
}
.nav-menu{
    width: 215px;
    height: calc(768px - 65px - 20px - 25px);
    /* background-color: burlywood; */
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-menu>h1{
    font-family:"標楷體";
    font-size: 24px;
    text-align: center;
    text-decoration: underline black;
    color: #FF00FF;
}
.menu-box{
    font-family:"標楷體";
    font-size: 16px;
    font-weight: 500;
    color: black;
    background-image: url(./image/menu1.png);
    width: 200px;
    height: 35px;
    margin-bottom: 5px;
}
.menu-box>a{
    display: block;
    width: 100%;
    height: 100%;
}
.menu-box:hover{
    background-image: url(./image/menu2.png)
}
.nav-update{
    width: 225px;
    height: 25px;
    /* background-color:lightgreen; */
    font-family:"標楷體";
    font-size: 16px;
    color: black;
    text-align: center;
    border: 3px solid lightgray;
    border-style: double;
}
.box{
    width: 770px;
    height: calc(768px - 65px - 20px );
    border: 3px solid lightgray;
    border-style: double;
    /* background-color: black; */
}
marquee{
    width: 765px;
    height: 25px;
    font-family: "標楷體";
    font-size: 24px;
    color: blue;
    border: 3px solid lightgray;
    border-style: double;
    /* background-color: blueviolet; */
}
iframe{
    width: 765px;
    height: calc(768px - 65px - 29px - 20px - 10px);
    border: 3px solid lightgray;
    border-style: double;
    /* background-color: red; */
}
.footer{
    width: 1006px;
    height: 20px;
    color: black;
    font-size: 16px;
    font-family:"標楷體";
    text-align: center;
    /* background-color: darkgreen; */
    border: 3px solid lightgray;
    border-style: double;
}